<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Budget Planner - Login</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <h1>Login</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/register">Register</a>
    </nav>
</header>
<main class="p-5 align-content-center bg-blur my-register-div">
    <div class="d-flex justify-content-center">

        <div class="row g-3 align-items-center">

            <form
                    th:action="@{/login}"
                    th:method="POST"
                    th:object="${loginData}"
            >

                <div>
                    <div class="col-auto">
                        <label for="inputUsername" class="col-form-label ">Username</label>
                    </div>
                    <div class="col-auto">
                        <input type="text"
                               name="username"
                               required minlength="4" maxlength="20"
                               id="inputUsername"
                               class="form-control"
                               aria-describedby="usernameHelpInline"
                        >
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputPassword" class="col-form-label ">Password</label>
                    </div>
                    <div class="col-auto">
                        <input type="password"
                               name="password"
                               required minlength="4" maxlength="20"
                               id="inputPassword" class="form-control"
                               aria-describedby="passwordHelpInline"
                        >

                    </div>
                </div>

                <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-primary btn-block w-50" type="submit">Login</button>
                </div>
            </form>
        </div>

    </div>
</main>
<footer>
    <p>&copy; 2024 Travel Budget Planner</p>
</footer>
</body>
</html>